.nowrap {
	white-space: nowrap;
}

#website-signature {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #333;
}

#website-signature > a {
	display: inline-block;
	padding-top: 0.5rem;
}

#website-signature > a > img {
	-webkit-filter: saturate(0);
	filter: saturate(0);
	opacity: 0.25;
	transition: all 0.2s ease;
}

#website-signature > a:hover > img {
	-webkit-filter: saturate(1);
	filter: saturate(1);
	opacity: 1;
}

.is-hidden-mobile, .is-hidden-tablet {
	display: none !important;
}

form .radio input {
	width: auto;
}

form input.datepicker,
form input[type=date] {
	padding: 14px 18px;
	margin-bottom: 0;
}

form .row > div {
	padding: 2rem;
}

form select.form-control {
	height:52px;
	margin-top: 0;
}

#sender-form form,
#porter-form form {
	display: none;
}

#sender-form input[type=submit],
#porter-form input[type=submit] {
	position: fixed;
	right: 0;
	width: 1px;
	bottom: 0;
	display: block;
	opacity: 0;
	overflow: hidden;
}

#sender-form {
	background-color: #121524;
	color: #e6e6e6;
}

#sender-form hr,
#porter-form hr {
	opacity: 0.125;
}

#sender-form .form-step > .row:last-of-type > div {
	padding-top: 0 !important;
}

#sender-form form > .form-step > .row {
}

#porter-form form > .form-step > .row > div {
	background-color: rgba(0, 0, 0, 0.075);
}

#sender-form form > .form-step > .row > div {
	background-color: rgba(255, 255, 255, 0.075);
}

#sender-form .row .row .row > div {
	padding-top:0;
	padding-bottom: 0;
}

form .row .row  > div {
	padding-bottom: 0;
	margin-bottom: 0;
}

#porter-form hr {
	border-color: #111;
}

#porter-form input[type=text],
#porter-form input[type=email],
#sender-form input[type=text],
#sender-form input[type=email],
#porter-form input[type=date],
#sender-form input[type=date] {
	margin-bottom: 0;
	border: 1px solid #CCCCCC;
	background-color: #ffffff !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	font-size: 2rem;
	height: 52px;
}

#porter-form select,
#sender-form select {
	border-left: 0px solid #CCC !important;
	font-size: 2rem;
	font-weight: 300;
}

#porter-form .form-group label,
#sender-form .form-group label {
	font-size: 1.625rem;
}

#porter-form .form-group label img,
#sender-form .form-group label img {
	margin-bottom: 1.5rem;
	max-height: 70px;
}

#porter-form div.white,
#porter-form .lead.white {
	background-color: rgba(0, 0, 0, 0.05);
}
#sender-form div.white,
#sender-form .lead.white {
    background-color: rgba(255, 255, 255, 0.05);
}

#sender-form .lead,
#porter-form .lead {
	text-align: center;
}

#sender-form .lead i,
#porter-form .lead i {
	font-size: 6rem;
	display: block;
	margin: 0 auto 1rem;
}

#porter-form .lead i {
	color: #121524;
}

#sender-form .lead input[type='radio'],
#porter-form .lead input[type='radio']{
	margin: 0 auto 0.5rem;
	display: block;
	position: relative;
}

#sender-form .lead.white,
#porter-form .lead.white {
	padding: 0.5rem;
}

form .input-group-addon {
	border-right: none !important;
	background-color: #FFF;
	font-size: 135%;
	color: #aaa;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

form .input-group-addon select,
form .input-group-addon input {
	border-left: 0px solid transparent !important;
}

form div.radio {
	margin-bottom: 2rem;
}

section[data-overlay-dark] .lead,
section[data-overlay-dark] label {
	color: #bbb;
}

form input[type=checkbox] {
	width: auto;
}

#terms-of-service ul li:before {
	content: '\00bb';
}

#terms-of-service .modal-dialog h4.modal-title {
	color: #121524;
}

#terms-of-service .modal-dialog .modal-content ul li{
	color: #666;
}

.datepicker.dropdown-menu {
	background-color: #FFF;
	border: 1px solid #CCC;
}

.datepicker thead > tr > th,
.datepicker tbody > tr > td {
	width: 40px;
	height: 32px;
	font-size: 1.75rem;
}

@media screen and (max-width: 1023px){
	form#porter-form .col-md-4:nth-child(odd),
	form#sender-form .col-md-4:nth-child(odd) {
		background-color: transparent !important;
	}
}

@media screen and (min-width: 768px) {
	.modal-dialog {
	    margin: 100px auto 30px !important;
	}
}
